* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
.title {
	position: absolute;
	text-align: center;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	z-index: 555;
	animation: identifier 1.5s;
}
@keyframes identifier {
	from {
		transform: translateY(-100%);
		opacity: 0;
		/* transform: scale(0.5); */
	}
	to {
		transform: translateY(-50%);
		/* transform: scale(1); */
		opacity: 1;
	}
}
.title span {
	font-size: 70px;
}
.title p {
	font-size: 40px;
	margin-bottom: 20px;
	opacity: 0.8;
	-webkit-animation: dropIn 1s linear;
	animation: dropIn 1s linear;
}
.title img {
	max-width: 90%;
	animation: fadeIn 1s linear;
}
@keyframes dropIn {
	0% {
		opacity: 0;
		transform: translate3d(0, -100px, 0);
	}
	100% {
		opacity: 0.8;
		transform: translate3d(0, 0, 0);
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
		transform: scale(0.8) translateY(20px);
	}
	100% {
		opacity: 1;
		transform: scale(1) translateY(0);
	}
}
#wrapper {
	width: 100%;
	overflow: hidden;
	color: #fff;
	background: #262b2e;
	background: linear-gradient(
		-45deg,
		rgba(9, 69, 138, 0.2),
		rgba(68, 155, 255, 0.7),
		rgba(117, 113, 251, 0.7),
		rgba(68, 155, 255, 0.7),
		rgba(9, 69, 138, 0.2)
	);
	background-size: 400% 400%;
	-webkit-animation: Gradient 15s ease infinite;
	-moz-animation: Gradient 15s ease infinite;
	animation: Gradient 15s ease infinite;
}
#wrapper > #bot {
	position: absolute;
	bottom: 20px;
	left: 50%;
	display: block;
	transform: translateX(-50%);
	text-indent: 0.8em;
	color: #fff;
	background: url(../img/bottom.png) no-repeat;
	background-size: 12%;
	background-position-x: 0;
	animation: move 0.8s linear infinite;
	z-index: 555;
}
@keyframes move {
	from {
		background-position-y: 10%;
	}
	to {
		background-position-y: 90%;
	}
}
@-webkit-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@-moz-keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
#wrapper {
	width: 100%;
	height: 100%;
}
.main {
	margin: 0 auto;
	max-width: 1100px;
}
.main > h3 {
	text-align: center;
	margin: 20px 0 10px 0;
}
.main > p {
	text-align: center;
}
.About {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 20px;
}
.About a {
	text-decoration: underline;
}
.main .About p {
	text-indent: 2em;
	margin-top: 10px;
	line-height: 25px;
	color: #2d2d2d;
	font-size: 0.9em;
}
.main .itme {
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;
}
.itme > .color1 {
	background: #00ccff;
}
.itme > .color2 {
	background: #26a65b;
}
.itme > .color3 {
	background: #d24d57;
}
.itme > .color4 {
	background: #fc9d99;
}
.itme > .color5 {
	background: #2c3e50;
}
.itme > div {
	width: 23%;
	margin: 20px 1%;
	height: 180px;
	box-sizing: border-box;
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.itme a {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	padding-top: 20px;
	box-sizing: border-box;
}
.itme > div:hover {
	transform: translateY(-10px);
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.5);
	-webkit-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.5);
	-moz-box-shadow: 0 26px 40px -24px rgba(0, 36, 100, 0.5);
}
.itme a h3 {
	font-size: 24px;
	margin-top: 20px;
	margin-bottom: 10px;
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
.itme a p {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
}
.itme a .fa {
	font-size: 60px;
}
.itme a .light {
	cursor: pointer;
	position: absolute;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: -webkit-linear-gradient(0deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0.5), hsla(0, 0%, 100%, 0));
	transform: skewx(-25deg);
	-o-transform: skewx(-25deg);
	-moz-transform: skewx(-25deg);
	-webkit-transform: skewx(-25deg);
}
.itme > div:hover .light {
	animation: move1 0.4s forwards;
}
@keyframes move1 {
	from {
	}
	to {
		left: 100%;
	}
}
@media screen and (max-width: 1000px) {
	.itme > div {
		width: 48%;
	}
}
@media screen and (max-width: 600px) {
	.itme > div {
		margin: 20px auto;
		width: 90%;
	}
}
#istop {
	width: 40px;
	height: 40px;
	background: url(../../static/img/top.png) no-repeat;
	position: fixed;
	right: 20px;
	bottom: 20px;
	background-size: 100%;
	display: none;
	cursor: pointer;
}
::-webkit-scrollbar-track-piece {
	background-color: transparent;
}
::-webkit-scrollbar {
	width: 9px;
	height: 8px;
}
::-webkit-scrollbar-thumb {
	background-color: rgb(192, 199, 210);
	-webkit-border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #9f9f9f;
}
* {
	padding: 0;
	margin: 0;
}
html,
body,
#wrapper {
	width: 100%;
	height: 100%;
	min-width: 300px;
	/*background: #262b2e*/
}
#wrapper {
	text-align: center;
	display: table;
	position: relative;
	overflow-x: hidden;
}
#title {
	display: table-cell;
	vertical-align: middle;
	z-index: 999;
}

#title h2 {
	color: #fff;
	font-size: 45px;
	font-family: "museo-slab";
}

#title h3 {
	color: #fff;
	font-size: 25px;
	font-family: "museo-sans";
	font-weight: 300;
}
#wrapper canvas {
	position: absolute;
	top: 0;
	left: 0;
}
#canvas {
	z-index: 1;
}
#canvasbg {
	z-index: -10;
	-webkit-filter: blur(3px);
	-moz-filter: blur(3px);
	-o-filter: blur(3px);
	filter: blur(3px);
	opacity: 0.6;
}
